{% extends "indexcar.html" %}

{% block titulo %}Listado de empleados más nuevos por departamento{% endblock %}

{% block contenido %}
<h2>Listado de empleados más nuevos por departamento</h2>
{% if empleadosFiltrados %}
	{% for e in empleadosFiltrados %}
	<section class="post">
	    <header class="post-header">
	        <!-- <img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="/img/common/tilo-avatar.png"> -->
	        <h2 class="post-title"><a href="{% url 'empleado' e.id %}">{{ e.nombre }}</a></h2>

	        <!-- <p class="post-meta">
	        	By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
	        </p> -->
	    </header>
	    <div class="post-description">
	    	<p>{{ e.departamento }}</a>
	        </p>
	    </div>
	</section>  
	{% endfor %}
{% else %}
<p>No hay empleados.</p>
{% endif %}
{% endblock %}