{%load static%}
{% load i18n %}
<!DOCTYPE html>
{% block principal %}
<html>
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block css %}    
       		{% load static %}
				<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
				<link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}" type="text/css" media="screen">
				<link rel="stylesheet" href="{% static 'css/default/default.css' %}" type="text/css" media="screen">
		{% endblock %}
		{% block js %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script src="../static/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
		{% endblock %} 

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Source X SRT</title>
    </head>
	<body id="home">
		<div id="wrapper">
		
			<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
			<header>
				<div id="logo">
				<h1>Resale X <span id="iisrt"><span id="ii">SRTSRT</span>  <span id="srt">SRT</span></span></h1>
				<div id="tagline">
					<h2>{% trans "¡Otra forma de conducir!"%}</h2>
				</div>
				</div>
				<nav>
					<ul>  
						<li><a href="{% url 'indexcar' %}" id="homenav">{% trans "Principal"%}</a></li>
						<li><a href="{% url 'blog' %}" id="blognav">{% trans "Categoría"%}</a></li>
						<li><a href="{% url 'marcas' %}">{% trans "Marca"%}</a></li>
						<li><a href="{% url 'contact' %}">{% trans "Contactanos"%}</a></li>
						<li><a href="{% url 'register' %}">{% trans "Registro"%}</a></li>
						<li><a href="{% url 'login' %}">{% trans "Login"%}</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</nav>
			</header>
			
			<!--__--__--__--__--  T H E    S L I D E R --__--__--__--___--__--__--__-->
			<div class="slider-wrapper theme-default">
				<div id="slider" class="nivoSlider">
					<img src="../static/img/audia3.jpg" alt="" title="AUDI A3"/>
					<img src="../static/img/audirs7sport.jpeg" alt="" title="AUDI RS7 SPORTBACK" /></a>
					<img src="../static/img/bmwm3.jpg" alt="" title=" BMW M3" />
					<img src="../static/img/mercedescoupe.jpeg" alt="" title="MERCEDES CLASE C" />
				</div>
			</div>

			<script type="text/javascript">
			$(window).load(function() {
				$('#slider').nivoSlider({pauseTime: 6000,});
			});
			</script>
			
			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>
				<div id="line">
					<div class="dline"></div>
					<h1>{% trans "TODOTERRENOS"%}</h1>
					<div class="dline"></div> <br>
				</div>
				<div id="ourserv">
						{% if lista_categorias %}
											{% block listaCoches %}				
											{% if coches %}
												{% for cs in coches %}
													{% if cs.categoria.id == 2 %}
													<article>
															<h1><a href="{% url 'coche' cs.id %}"> {{cs.nombre}}</a></h1>
															<br>
															{% load static %}
																<img alt="{{ cs.imagen }}" src="{% static cs.imagen %}" /> 
															<br><br>	
															<h1>Descripcion:</h1> 
															<br>
															<p>{{cs.info}} </p> <br>
															<a href="{% url 'coche' cs.id %}" class="rm">Leer mas</a><br><br>
													</article>
													{% endif %}			
												{% endfor %}
										{% else %}
												<p>No hay coches creados.</p>
										{% endif %}
										{% endblock %}
									{% else %}
										<p>No hay marcas creadas.</p>
									{% endif %}
				</div>

				<div id="sline">
					<div class="sdline"></div>
					<h1>{% trans "DEPORTIVOS Y COUPES"%}</h1>
					<div class="sdline"></div>
					<br><br>
				</div>


				<div id="latestp">
					{% if lista_categorias %}
											{% block listaCochesDyC %}				
											{% if coches %}
												{% for cs in coches %}
													{% if cs.categoria.id == 1 or cs.categoria.id == 3 %}
													<article>
															<h1><a href="{% url 'coche' cs.id %}"> {{cs.nombre}}</a></h1>
															<br>
															{% load static %}
																<img alt="{{ cs.imagen }}" src="{% static cs.imagen %}" /> 
															<br>	
															<h1>Descripcion:</h1> 
															<br>
															<p>{{cs.info}}
															<br><br>
															<a href="{% url 'coche' cs.id %}" class="rm">Leer mas</a><br>
													</article>
													{% endif %}			
												{% endfor %}
										{% else %}
												<p>No hay coches creados.</p>
										{% endif %}
										{% endblock %}
									{% else %}
										<p>No hay marcas creadas.</p>
									{% endif %}
				</div>
			</section>				
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
			<footer>
				<p>Copyright &copy 2013 Source X by Youssef Nassim and Zakariya Lhamri, design from. All Rights Reserved.</p>
			</footer>
		</div>			
	</body>
</html>
{% endblock %}	