<!DOCTYPE html>
{% block principal %}
<html>
    <head>
        <meta charset="utf-8" />
		{% block css %}    
       		{% load static %}
				<link rel="stylesheet" href="{% static 'css/style.css' %}" >
				<link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}" type="text/css" media="screen">
				<link rel="stylesheet" href="{% static 'css/default/default.css' %}" type="text/css" media="screen">
		{% endblock %}
		{% block js %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script src="../static/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
		{% endblock %} 
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Source X SRT</title>
    </head>
	<body id="blog">
		<div id="wrapper">
		
			<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
			<header>
				<div id="logo">
				<h1>Resale X <span id="iisrt"><span id="ii">SRTSRT</span>  <span id="srt">SRT</span></span></h1>
				<div id="tagline">
					<h2>¡Otra forma de conducir!</h2>
				</div>
				</div>
				<nav>
					<ul>
						<li><a href="{% url 'indexcar' %}" id="homenav">Home</a></li>
						<li><a href="{% url 'blog' %}" id="blognav">Categoría</a></li>
						<li><a href="{% url 'marcas' %}">Marca</a></li>
						<li><a href="{% url 'contact' %}">Contactanos</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</nav>
			</header>
			
			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->

			<section>
				{% if marca %}		

						<article id="singlepost">
						<h1><a href="{% url 'marcas' %}">{{marca.nombre}}</a></h1> <br>
                        {% load static %}
							<img alt="{{ marca.imagen }}" src="{% static marca.imagen %}" /> <br><br>
						<p>{{marca.info}}</p>
						<br>
						{% block listaCoches %}
											{% if coches %}
												<ul>
												{% for m in coches %}
													{% if marca.id == m.marca.id %}
														<br>
														<h1><li><a href="{% url 'coche' m.id %}"> &nbsp {{ m.nombre }}</a></h1><br>
															{% load static %}
																<img alt="{{ m.imagen }}" src="{% static m.imagen %}" /> 	
																<h2 class="mg">Informacion</h2>
																<p>{{m.info}}</p> <br><br>
														{% endif %}	
												{% endfor %}
												</ul>
											{% else %}
												<p>No hay coches creados.</p>
											{% endif %}
						{% endblock %}
				{% else %}
					<p>No existe esta marca.</p>
				{% endif %}
											<br> <br> <br>
						</article>
						
				<!--__--__--__--  S I D E B A R --__--__--__--__-->
				<div id="sidebar">
					<aside>
						<div id="cat">
							<h1>Marca</h1>
									<br>
									{% if marca %}
										
											<ul>
											 <h2><li><a href="{% url 'marca' marca.id %}">{{ marca.nombre }}</a></h2>
											</ul>	
										
									{% else %}
										<p>No hay marcas creadas.</p>
									{% endif %}
						</div>
						
					</aside>
				</div>
			</section>
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
			<footer>
				<p>Copyright &copy 2013 Source X by Youssef Nassim and Zakariya Lhamri, design from <a href="http://geeksband.com">Geeksband.com</a> All Rights Reserved.</p>
			</footer>
		</div>			
	</body>
</html>
{% endblock %}